<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServicePLCotaSOAP">
                    <security mode="Transport" />
                </binding>
                <binding name="ServicePLCotaSOAP1" />
                <binding name="WsFundCompositionPositionSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WsFundCompositionPositionSoap1" />
                <binding name="OK4WebServiceTokenSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="OK4WebServiceTokenSoap1" />
                <binding name="BasicHttpBinding_IFilaPublicador" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://ws.producao.sistemagalgo:7843/ServicePLCota"
                binding="basicHttpBinding" bindingConfiguration="ServicePLCotaSOAP"
                contract="Galgo.ServicePLCota.ServicePLCota" name="ServicePLCotaSOAP" />
            <endpoint address="https://ww73.itau.com.br/ok4inet5/servicos/WsFundCompositionPosition.asmx"
                binding="basicHttpBinding" bindingConfiguration="WsFundCompositionPositionSoap"
                contract="Itau.WsFundCompositionPosition.WsFundCompositionPositionSoap"
                name="WsFundCompositionPositionSoap" />
            <endpoint address="https://ww73.itau.com.br/ok4ordem/servicos/OK4WebServiceToken.asmx"
                binding="basicHttpBinding" bindingConfiguration="OK4WebServiceTokenSoap"
                contract="Itau.OK4WebServiceToken.OK4WebServiceTokenSoap"
                name="OK4WebServiceTokenSoap" />
            <endpoint address="http://192.168.1.127:9090/PGM.WebService/FilaPublicador/FilaPublicador.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFilaPublicador"
                contract="FilaPublicador.IFilaPublicador" name="BasicHttpBinding_IFilaPublicador" />
        </client>
    </system.serviceModel>
</configuration>