<?xml version="1.0"?>
<connectionStrings>
  
  <!--  Release connections -->
  <add name="Homolog1ConnectionRelease"     connectionString="Data Source=PGMSP01DB02; Initial Catalog=PragmaInvestHomolog_1; persist security info=True; Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
  <add name="Homolog2ConnectionRelease"     connectionString="Data Source=PGMSP01DB02; Initial Catalog=PragmaInvestHomolog_2; persist security info=True; Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
  <add name="Homolog3ConnectionRelease"     connectionString="Data Source=PGMSP01DB02; Initial Catalog=PragmaInvestHomolog_3; persist security info=True; Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
  <add name="OficialConnectionRelease"      connectionString="Data Source=PGMSP01DB01; Initial Catalog=PragmaInvest; persist security info=True; Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
  <add name="SysConnectionRelease"          connectionString="Data Source=PGMSP01DB01; Initial Catalog=InvestEstrutura; persist security info=True; Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
  <add name="HomologIntraConnectionRelease" connectionString="Data Source=PGMSP01DB02; Initial Catalog=PragmaIntranetHomolog; persist security info=True; Integrated Security=SSPI;" providerName="System.Data.SqlClient" />

  <!--  Debug connections -->
  <add name="Homolog1ConnectionDebug"     connectionString="Data Source=PGMSP01DB02; Initial Catalog=PragmaIntranetHomolog; persist security info=True; Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
  <add name="Homolog2ConnectionDebug"     connectionString="Data Source=PGMSP01DB02; Initial Catalog=PragmaIntranetHomolog; persist security info=True; Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
  <add name="Homolog3ConnectionDebug"     connectionString="Data Source=PGMSP01DB02; Initial Catalog=PragmaIntranetHomolog; persist security info=True; Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
  <add name="OficialConnectionDebug"      connectionString="Data Source=PGMSP01DB02; Initial Catalog=PragmaIntranetHomolog; persist security info=True; Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
  <add name="SysConnectionDebug"          connectionString="Data Source=PGMSP01DB01; Initial Catalog=InvestEstrutura; persist security info=True; Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
  <add name="HomologIntraConnectionDebug" connectionString="Data Source=PGMSP01DB02; Initial Catalog=PragmaIntranetHomolog; persist security info=True; Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
</connectionStrings>