<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="Warning, ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelMessageLoggingListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source name="System.ServiceModel" switchValue="Information,ActivityTracing" propagateActivity="true">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelTraceListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="app_messages.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
      <add initializeData="app_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" />
    </diagnostics>
    <behaviors>
      <endpointBehaviors>
        <behavior name="GalgoBehavior">
          <clientCredentials>
            <!-- Aqui indicamos o FingerPrint (Thumbprint) do certifificado utilizado pelo client
                 para assinar as mensagens que serão enviadas ao Sistema Galgo (request) -->
            <clientCertificate findValue="6d 39 63 85 40 bb de cc 59 73 6e b3 ef 67 da a1 a9 b0 61 5a" storeLocation="CurrentUser" x509FindType="FindByThumbprint" />
            <!-- Aqui indicamos o FingerPrint (Thumbprint) da chave pública do
                 Sistema Galgo, chave esta registrada no repositório de chaves do Windows -->
            <serviceCertificate>
              <defaultCertificate findValue="b9 b2 58 a2 e2 69 40 a3 64 d2 8d 9f 99 3d 34 b8 9d 3a d1 97" storeLocation="CurrentUser" x509FindType="FindByThumbprint" />
              <authentication certificateValidationMode="None" />
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="aBasicHttpBinding" maxBufferSize="64000000" maxReceivedMessageSize="64000000">
          <security mode="None" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://ws.producao.sistemagalgo:7843/ServicePLCota" behaviorConfiguration="GalgoBehavior" binding="basicHttpBinding" bindingConfiguration="" contract="ServicePLCotas.ServicePLCota" name="ServicePLCotaSOAP">
        <identity>
          <dns value="" />
          <certificateReference x509FindType="FindBySubjectName" findValue="" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="HomologConnection" connectionString="Data Source=PGMSP01DB01; Initial Catalog=PragmaInvest_teste; User ID=pwi; Password=pragmap0w2i8; Persist Security Info=True" providerName="System.Data.SqlClient" />
    <add name="OficialConnection" connectionString="Data Source=PGMSP01DB01; Initial Catalog=PragmaInvest; User ID=pwi; Password=pragmap0w2i8; Persist Security Info=True" providerName="System.Data.SqlClient" />
    <add name="SysConnection" connectionString="Data Source=PGMSP01DB01; Initial Catalog=InvestEstrutura; User ID=pwi; Password=pragmap0w2i8; Persist Security Info=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="SimpleInjector" publicKeyToken="984cb50dea722e99" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.4.0" newVersion="3.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Core" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.3000.0" newVersion="3.0.3000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
