<?xml version="1.0"?>
<connectionStrings>
  <clear/>
  <!--  Release connections -->
  <add name="default"    connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Git\PersonalFramework\Source\CSharp\Pragma.Apps\Pragma.App.Forms\Data\DataBase.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
    
</connectionStrings>