<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="Homolog1Connection" value="Homologação 1" />
  <add key="Homolog2Connection" value="Homologação 2" />
  <add key="Homolog3Connection" value="Homologação 3" />
  <add key="HomologIntraConnection" value="Homogolação Intra" />
  <add key="OficialConnection" value="Oficial" />
  <add key="SysConnection" value="Sys" />
  <add key="TestDbCreation" value="Test" />
</appSettings>