<?xml version="1.0"?>
<connectionStrings>
  <clear/>
  <!--  Release connections -->
  <add name="default"    connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Data\DataBase.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
    
</connectionStrings>

